release/*
tools/temp
*.cache
*.pbo
texHeaders.bin
*.swp
*.swo
*.biprivatekey
Thumbs.db
*.diff
*.rar
*.zip
*.bat
*.pyc
*.pdb
*.tlog
*.sln
*.vcxproj
*.vcxproj.*
*/.vs
extensions/*/.vs
extensions/*/build32
extensions/*/build64
extensions/*/Win32
extensions/*/x64
extensions/*/packages
extensions/uksf/src/modules/data/secret.hpp
tools/service.py
tools/manage.py
